/* Import Bootstrap */
@import '~bootstrap/dist/css/bootstrap.min.css';

.App {
  background-color: #f2e3db;
}

.movie-card {
  background-color: #41644a;
  color: #263a29;
  padding: 20px;
  margin-bottom: 20px;
}

.movie-card img {
  max-width: 100%;
  height: auto;
}

.movie-card .card-title {
  font-size: 18px;
  font-weight: bold;
}

.movie-card .card-text {
  margin-top: 10px;
}

.movie-card .card-link {
  display: flex;
  justify-content: center;
/*   margin-top: 10px; */
  color: #e86a33;
}

.form-container {
  margin-bottom: 20px;
  margin-top: 20px;
}

.form-container .form-group {
  margin-bottom: 10px;
}

.form-container .input {
  display: inline-block;
  width: calc(50% - 15px); /* Adjust the width as needed */
  margin-right: 15px;
}

.form-container .btn {
  display: inline-block;
  vertical-align: top;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination .btn {
  margin: 0 5px;
  color: #e86a33;
}

Button{
    background-color: #e86a33 !important;
    color: #f2e3db !important;
    font-weight: bolder;
    font-size: largeer;
    letter-spacing: 0.1rem;
    border-radius: 0.5rem;
    border: none;
    margin: 0 5px;
}