/* Import Bootstrap */
@import '~bootstrap/dist/css/bootstrap.min.css';
/* Use root values */
:root{
  --color-white: #ccc;
  --color-black: #303030;
  --color-purple: #86208f;
  --color-brown: #884a30;
}
.App {
  background-color: var(--color-black) ;
  min-height: 100vh;
}
.App {
  background-color: var(--color-black) ;
  color: var(--color-white);
}

.search-input {
  font-family: inherit;
  font-size: inherit;
  background-color: var(--color-white);
  border: none;
  color: var(--color-black);
  padding: 0.7rem 1rem;
  border-radius: 30px;
  transition: all ease-in-out .5s;
  margin-right: -2rem;
}

.search-input:hover, .search-input:focus {
  box-shadow: 0 0 1em #00000013;
}

.search-input:focus {
  outline: none;
  background-color: var(--color-white);
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination .btn {
  margin: 0 5px;
  color: var(--color-purple);
}

.btn{
    background-color: var(--color-purple) !important;
    color: var(--color-white) !important;
    font-weight: bolder;
    font-size: largeer;
    letter-spacing: 0.1rem;
    border-radius: 0.5rem;
    border: none;
    margin-top: 0px;
}